In [17]:
# Week 1 - Electric Vehicle Sales Prediction
# Author: Shreya V
# Internship: EduNet AICTE Internship (Electric Vehicle Theme)

# -----------------------------
# Step 1: Import Libraries
# -----------------------------
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from IPython.display import Image, display 

plt.style.use("seaborn-v0_8")
sns.set_palette("Set2")

# -----------------------------
# Step 2: Load Dataset
# -----------------------------
df = pd.read_csv("IEA-EV-dataEV salesHistoricalCars.csv")

# Display first few rows
print("üîπ Preview of dataset:")
display(df.head())

# -----------------------------
# Step 3: Understand the Dataset
# -----------------------------
print("\nüîπ Dataset Info:")
df.info()

print("\nüîπ Statistical Summary:")
display(df.describe())

print("\nüîπ Missing Values:")
display(df.isnull().sum())

# -----------------------------
# Step 4: Check Column Names
# -----------------------------
print("\nüîπ Column Names:")
print(df.columns.tolist())

üîπ Preview of dataset:

,region,category,parameter,mode,powertrain,year,unit,value
0,Australia,Historical,EV sales,Cars,BEV,2011,Vehicles,49.00000
1,Australia,Historical,EV stock share,Cars,EV,2011,percent,0.00039
2,Australia,Historical,EV sales share,Cars,EV,2011,percent,0.00650
3,Australia,Historical,EV stock,Cars,BEV,2011,Vehicles,49.00000
4,Australia,Historical,EV stock,Cars,BEV,2012,Vehicles,220.00000

üîπ Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3798 entries, 0 to 3797
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   region      3798 non-null   object
 1   category    3798 non-null   object
 2   parameter   3798 non-null   object
 3   mode        3798 non-null   object
 4   powertrain  3798 non-null   object
 5   year        3798 non-null   int64
 6   unit        3798 non-null   object
 7   value       3798 non-null   float64
dtypes: float64(1), int64(1), object(6)
memory usage: 237.5+ KB

üîπ Statistical Summary:

              year         value
count  3798.000000  3.798000e+03
mean   2017.369932  1.009542e+05
std       3.809226  8.184402e+05
min    2010.000000  1.500000e-05
25%    2014.000000  2.300000e+00
50%    2018.000000  1.900000e+02
75%    2021.000000  6.800000e+03
max    2023.000000  2.800000e+07

üîπ Missing Values:

region        0
category      0
parameter     0
mode          0
powertrain    0
year          0
unit          0
value         0
dtype: int64

üîπ Column Names:
['region', 'category', 'parameter', 'mode', 'powertrain', 'year', 'unit', 'value']

In [8]:
# Step 5: Data Cleaning
# Filter only EV sales rows
df_sales = df[df["parameter"] == "EV sales"]

# Remove unnecessary columns
df_sales = df_sales[["region", "year", "value"]]

# Convert year and value to numeric types
df_sales["year"] = pd.to_numeric(df_sales["year"], errors="coerce")
df_sales["value"] = pd.to_numeric(df_sales["value"], errors="coerce")

# Drop any missing values
df_sales = df_sales.dropna()

print("‚úÖ Cleaned dataset shape:", df_sales.shape)
display(df_sales.head())

‚úÖ Cleaned dataset shape: (1342, 3)

       region  year  value
0   Australia  2011   49.0
6   Australia  2012   80.0
9   Australia  2012  170.0
10  Australia  2013  190.0
13  Australia  2013  100.0

In [46]:
# Step 6: Exploratory Data Analysis (EDA)
import os
import matplotlib
import matplotlib.pyplot as plt
import seaborn as sns

# Force Agg backend to save correctly
matplotlib.use("Agg")

# Create images folder
os.makedirs("images", exist_ok=True)

# Function to fix save bug by explicitly setting aspect ratio
def save_full_plot(fig, filename, width=12, height=6):
    fig.set_size_inches(width, height, forward=True)
    fig.set_dpi(300)
    fig.subplots_adjust(left=0.1, right=0.95, top=0.9, bottom=0.15)
    fig.savefig(filename, bbox_inches='tight', pad_inches=0.5, facecolor='white')
    plt.close(fig)

# -------------------------------
# 1Ô∏è‚É£ EV Sales over the years
# -------------------------------
fig, ax = plt.subplots()
sns.lineplot(data=df_sales, x="year", y="value", ax=ax, color="teal", linewidth=2.5)
ax.set_title("Global Electric Vehicle Sales Over the Years", fontsize=14, weight="bold")
ax.set_xlabel("Year")
ax.set_ylabel("EV Sales (in millions)")
ax.grid(True, linestyle="--", alpha=0.5)
save_full_plot(fig, "images/ev_sales_trend.png")

# -------------------------------
# 2Ô∏è‚É£ EV Sales by Region
# -------------------------------
top_regions = df_sales.groupby("region")["value"].sum().sort_values(ascending=False).head(5)
fig, ax = plt.subplots()
sns.barplot(x=top_regions.index, y=top_regions.values, palette="Set2", ax=ax)
ax.set_title("Top 5 Regions by Total EV Sales", fontsize=14, weight="bold")
ax.set_xlabel("Region")
ax.set_ylabel("Total Sales")
save_full_plot(fig, "images/top_regions.png")

# -------------------------------
# 3Ô∏è‚É£ Correlation Heatmap
# -------------------------------
fig, ax = plt.subplots()
sns.heatmap(df_sales.corr(numeric_only=True), annot=True, cmap="coolwarm", fmt=".2f", ax=ax)
ax.set_title("Correlation Heatmap", fontsize=14, weight="bold")
save_full_plot(fig, "images/heatmap.png")

print("‚úÖ All charts saved successfully and fully visible in the 'images' folder!")

C:\Users\venka\AppData\Local\Temp\ipykernel_32548\244290420.py:37: FutureWarning:

Passing `palette` without assigning `hue` is deprecated and will be removed in v0.14.0. Assign the `x` variable to `hue` and set `legend=False` for the same effect.

  sns.barplot(x=top_regions.index, y=top_regions.values, palette="Set2", ax=ax)

‚úÖ All charts saved successfully and fully visible in the 'images' folder!

In [10]:
# Step 7: Observations
print("""
üìä Observations:
1. EV sales have grown rapidly after 2015.
2. China and Europe dominate total EV sales volume.
3. The growth trend is almost exponential, showing strong global EV adoption.
""")

üìä Observations:
1. EV sales have grown rapidly after 2015.
2. China and Europe dominate total EV sales volume.
3. The growth trend is almost exponential, showing strong global EV adoption.

In [38]:
%matplotlib inline

In [39]:
%matplotlib notebook